# ./out/sass/sass.sync.js ->  This is is critical and cannot be removed
node_modules
.vscode-test/
*.vsix
.history
out/test/extension.test.js
out/test/extension.test.js.map
out/test/index.js
out/test/index.js.map
package-lock.json
src/sass/sass.sync.js
src/tsconfig.json
